.product-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    padding: 50px;
}
.product-form input {
    margin-bottom: 15px;
    height: 35px;
    min-width: 99%;
    border-radius: 5px;
}
.product-form select {
    margin-bottom: 15px;
    height: 35px;
    min-width: 99%;
    border-radius: 5px;
}
.product-form label {
    font-size: larger;
}
.container-product-form {
    display: flex;
    flex-direction: row;
}
.category-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    padding: 50px;
}
.category-form input {
    margin-bottom: 15px;
    height: 35px;
    min-width: 99%;
    border-radius: 5px;
}
.category-form label {
    font-size: larger;
}
.style-button {
    width: 100%;
    background: #aaa;
    margin-bottom: 10px;
}
.style-button:hover{
    background: #888;

}
