.product-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}
.product-form input {
    margin-bottom: 15px;
    height: 35px;
    min-width: 99%;
    border-radius: 5px;
}
.product-form label {
    font-size: larger;
}
